<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista Produtos</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
	<table class="table">	
		<thead>
			<tr>
				<th>Nome</th>
				<th>Preco Unitário</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="produto : ${produtos}">
				<td th:text="${produto.nome}"><td>
				<td th:text="${produto.precoUnitario}"></td>
				<td th:text="${produto.qntdEstoque}"></td>
				<td>
					<a th:href="${(#mvc.url('PC#deletarProduto').arg(0, produto.id)).build()}" class="btn btn-danger">Deletar</a>
				</td>
				<td>
					<a th:href="${(#mvc.url('PC#editarProduto').arg(0, produto.id)).build()}" class="btn btn-primary">Editar</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="${(#mvc.url('PC#precoTotalProdutos')).build()}" class="btn btn-primary">Preço Total</a>
	</div>
	<div>
		<a th:href="${(#mvc.url('PC#menorPrecoProduto')).build()}" class="btn btn-primary">Menor Preço</a>
	</div>
</body>
</html>