<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post">
		Nome:<br>
		<input type="text" name="nome"><br>
		Endereço:<br>
		<input type="text" name="endereco"><br>
		Idade:<br>
		<input type="number" name="idade"><br>
		Horas trabalhadas:<br>
		<input type="number" name="horasTrabalhadas"><br>
		Valor da hora trabalhada:<br>
		<input type="number" name="valorHoraTrabalhada"><br><br>
		
		<input type="submit" name="submit" value="Enviar">
	</form>
</body>
</html>