<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" class="tabela">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Endereco</th>
				<th>Idade</th>
				<th>Horas Trabalhadas</th>
				<th>Valor Hora Trabalhada</th>
				<th>Salario</th>
				<th>Deletar</th>
				<th>Atualizar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="motorista : ${motoristas}">
				<td><span th:text="${motorista.id}"></td>
				<td><span th:text="${motorista.nome}"></td>
				<td><span th:text="${motorista.endereco}"></td>
				<td><span th:text="${motorista.idade}"></td>
				<td><span th:text="${motorista.horasTrabalhadas}"></td>
				<td><span th:text="${motorista.valorHoraTrabalhada}"></td>
				<td><span th:text="${motorista.salario}"></td>
				<td><a th:href="${(#mvc.url('MC#deletarMotorista').arg (0, motorista.id)).build()}">Deletar</a></td>
				<td><a th:href="${(#mvc.url('MC#atualizarMotorista').arg (0, motorista.id)).build()}">Atualizar</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>